#git{
    min-width: 200px;
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
}

#git>p:hover{
    transform: scale(1.025);
    background-color: white;
    color: rgb(25, 25, 51);
}
#git>p:active{
    transform: scale(1);
}

#git-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;


}

#git-list>.tkg-button{
    margin: 1vh 1vh 0.5vh 1vh;
   
 }
 
 .tkg-button>p{
    
    margin: 0;
    padding: 0.5vh 0vh 0.5vh 0vh;
 }
 
.tkg-button{
     height: fit-content;
}

 #git-list>.git-item>.tkg-button>p{
    /*background-color: rgb(25, 25, 51);
    color: white;*/
    font-weight: bolder;
    font-size: larger;
    box-shadow: 0 .5rem .5rem .1em black;
    border-radius: 2rem;
    padding: 0.5vh 1vh 0.5vh 1vh;
}
#git-list>.git-item>.tkg-button{
    background-color:rgba(37, 86, 199, 0.829);
    color: white;
    transition: .25s;
    border-radius: 2rem;
}

/*#web-app>p:hover{
    transform: scale(1.025);
    background-color: white;
    color: rgb(25, 25, 51);
}
#web-app>p:active{
    transform: scale(1);
}*/

.git-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0vh 1vh 0vh 1vh;
}



.git-item{
    /*background-color: rgba(87, 126, 216, 0.829);*/
    padding: 1.25vh 2vh 1.25vh 2vh;
    border-radius: 2vh;
    margin: 0vh 1vh 0vh 1vh;
}

.git-item:last-child{
    margin: 0vh 1vh 1vh 1vh;
}

.git-item>p{
    background-color: rgb(25, 25, 51);
    color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0.5vh;
    border-radius: 2vh;
    box-shadow: 0 0.5rem 0.5rem 0.1em black;
}